* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
    gap: 10px;
}

h1 {
    background-color: rgb(239, 239, 239);
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    width: 80%;
    margin: auto;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(61, 61, 255);
    color: white;
}

.selected {
    background-color: rgb(255, 213, 46);
}

.card {
    border: 1px solid gray;
    width: 80%;
    margin-inline: auto;
    margin-block: 20px;
    padding: 20px;
    border-radius: 10px;
}